@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--brand-secondary) );
  border-radius: 999px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--brand-secondary)/80% );
}


:root {
  /* =========================
     Base Colors
  ========================== */
  --color-black: 0 0 0;
  --color-white: 255 255 255;

  /* =========================
     Brand
  ========================== */
  --brand-primary: 37 99 235;     /* #2563EB */
  --brand-secondary: 35 96 154;   /* #23609A */
  --brand-dark: 15 42 68;         /* #0F2A44 */

  /* =========================
     Neutral / Gray
  ========================== */
  --gray-900: 0 0 0;              /* #000000 */
  --gray-700: 68 68 68;           /* #444444 */
  --gray-100: 241 245 249;        /* #F1F5F9 */

  /* =========================
     Text Colors (semantic)
  ========================== */
  --text-primary: 0 0 0;           /* black 100% */
  --text-secondary: 0 0 0;         /* black 50% */
  --text-muted: 0 0 0;             /* black 10% */

  /* =========================
     Backgrounds
  ========================== */
  --bg-primary: 255 255 255;       /* white 100% */
  --bg-secondary: 241 245 249;     /* gray light */
  --bg-overlay: 0 0 0;             /* black overlay */

  /* =========================
     White Variants
  ========================== */
  --white-70: 255 255 255;         /* 70% */
  --white-10: 255 255 255;         /* 10% */

  /* =========================
     Borders / Dividers
  ========================== */
  --border-light: 0 0 0;            /* black 5% */
}
