@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif; 
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--brand-secondary) );
  border-radius: 999px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--brand-secondary)/80% );
}

/* Scrollbar horizontal fina para mobile */
@media (max-width: 768px) {
  nav::-webkit-scrollbar {
    height: 4px;
  }

  nav::-webkit-scrollbar-track {
    background: transparent;
  }

  nav::-webkit-scrollbar-thumb {
    background-color: rgba(var(--brand-secondary) );
    border-radius: 999px;
  }
}



:root {
  /* =========================
     Base Colors
  ========================== */
  --color-black: 0 0 0;
  --color-white: 255 255 255;

  /* =========================
     Brand
  ========================== */
  --brand-primary: 37 99 235;     /* #2563EB */
  --brand-secondary: 35 96 154;   /* #23609A */
  --brand-dark: 15 42 68;         /* #0F2A44 */

  /* =========================
     Neutral / Gray
  ========================== */
  --gray-900: 0 0 0;              /* #000000 */
  --gray-700: 68 68 68;           /* #444444 */
  --gray-100: 241 245 249;        /* #F1F5F9 */

  /* =========================
     Text Colors (semantic)
  ========================== */
  --text-primary: 0 0 0;           /* black 100% */
  --text-secondary: 0 0 0;         /* black 50% */
  --text-muted: 0 0 0;             /* black 10% */

  /* =========================
     Backgrounds
  ========================== */
  --bg-primary: 255 255 255;       /* white 100% */
  --bg-secondary: 241 245 249;     /* gray light */
  --bg-overlay: 0 0 0;             /* black overlay */

  /* =========================
     White Variants
  ========================== */
  --white-70: 255 255 255;         /* 70% */
  --white-10: 255 255 255;         /* 10% */

  /* =========================
     Borders / Dividers
  ========================== */
  --border-light: 0 0 0;            /* black 5% */
}
